@model Notus.Hub.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Get back into your account";
}

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <h2>@ViewBag.Title</h2>
        <p>
            We can help you reset your password and security info. First, enter your Notus account and the characters shown.
        </p>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label", placeholder = "someone@example.com" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <input type="submit" class="btn btn-primary btn-fill" value="Send Code" />
                    @Html.ActionLink("Cancel", "Index", "Index", new { }, new { @class = "btn btn-default btn-fill" })
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}