@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <li>
        @Html.ActionLink("Info", "Index", "Info", null, new { title = "Manage" })
    </li>
    <li>
        @Html.ActionLink("Reports", "Index", "Reports", null, new { title = "Manage" })
    </li>
    <li class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>
            @* @User.Identity.GetUserName()*@
            Gamunu
        </a>
        <ul class="dropdown-menu">
            <li>
                @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Manage", null, new { title = "Manage" })
            </li>
            <li>
                <a href="#">Something</a>
            </li>
            <li>
                <a href="#">Another action</a>
            </li>
            <li>
                <a href="#">Something</a>
            </li>
            <li class="divider"></li>
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                }
            </li>
        </ul>
    </li>
}